.itemCardWrapper {
  display: flex;
}

.itemCard {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: fit-content;
  max-width: 250px;
  aspect-ratio: 1 / 1;
  border: 1px solid rgba(from var(--wfui-accent) R G B / 0.1);
  background-color: var(--wfui-surface-alt);
  transition: background-color 0.3s;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--wfui-surface-alt-hover);
    border-color: rgba(from var(--wfui-accent) R G B / 0.5);

    .itemLabel {
      color: var(--wfui-accent);
    }
  }

  &[data-selected='true'] {
    border-color: var(--wfui-accent);
  }

  &[data-selected='true']::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
    width: 120%;
    height: 120%;
    pointer-events: none;
    background: radial-gradient(
      ellipse at 50% 60%,
      rgba(from var(--wfui-accent) R G B / 0.3) 0%,
      rgba(from var(--wfui-accent) R G B / 0.2) 15%,
      rgba(from var(--wfui-accent) R G B / 0.1) 35%,
      transparent 60%
    );
    filter: blur(10px);
    z-index: 1;
  }

  &[data-selected='true']::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 12%;
    height: 12%;
    background: var(--wfui-accent);
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
    z-index: 1;
  }
}

.imageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, var(--wfui-surface-alt) 0%, var(--wfui-surface-alt) 20%, rgba(from var(--wfui-surface-alt) R G B / 0.5) 50%, transparent 100%);
    pointer-events: none;
    z-index: 1;
  }
}

.itemLabel {
  width: 100%;
  position: absolute;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: var(--wfui-text-interactive);
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
  text-shadow: 1px 0px 0px var(--wfui-surface-alt);
}

.itemImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  vertical-align: bottom;
  filter: drop-shadow(0 4px 6px rgba(from var(--wfui-text-interactive) R G B / 0.3));
}

.itemCard:hover .itemImage {
  cursor: pointer;
  transform: scale(1.1);
}

@media print, screen and (max-width: 767px) {
  .itemLabel {
    font-size: 14px;
  }
}
