.button {
  padding: 0.5rem 0.75rem;
  position: relative;
  align-items: center;
  place-content: center;
  user-select: none;
  background: var(--wfui-surface);
  color: rgba(from var(--wfui-text-secondary) R G B / 0.8);
  font-family: Roboto, helvetica, arial, sans-serif;
  font-size: 1rem;
  font-weight: 900;;
  outline: none;
  border: none;
  text-transform: uppercase;
  overflow: hidden;

  &:disabled {
    pointer-events: none;
    color: rgba(from var(--wfui-disabled-text) R G B / 0.8);
    background: var(--wfui-disabled-bg);

    &:hover {
      color: rgba(from var(--wfui-disabled-text) R G B / 0.8);
      background: var(--wfui-disabled-bg);
    }
  }
}

.button:focus {
  color: var(--wfui-text-secondary);
}

.button:hover {
  color: var(--wfui-primary);
  cursor: pointer;
}

.button:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(10%);
  width: 200%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    ellipse at 50% 100%,
    rgba(from var(--wfui-primary) R G B / 0.8) 0%,
    rgba(from var(--wfui-primary) R G B / 0.45) 20%,
    rgba(from var(--wfui-primary) R G B / 0.2) 35%,
    transparent 75%
  );
  z-index: 1;
}

.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(from var(--wfui-text-secondary) R G B / 0.3);
}

.bottom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: var(--wfui-primary);
  transition: width 0.15s ease;
}

.button:not(:disabled):hover .bottom::after {
  width: 100%;
}
